app/backend/src/tmp
app/backend/src/var/*
!app/backend/src/var/.gitkeep
!app/backend/src/var/out/
app/backend/src/var/out/*
!app/backend/src/var/out/.gitkeep

app/frontend/src/node_modules
app/frontend/src/dist

.env.local
