src/backend/src/tmp
src/backend/src/var/*
!src/backend/src/var/.gitkeep
!src/backend/src/var/out/
src/backend/src/var/out/*
!src/backend/src/var/out/.gitkeep

src/frontend/src/node_modules
src/frontend/src/dist

.env.local
.env.production

/var
/start-prod.sh
