@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');
@import "~bulma/sass/utilities/initial-variables.sass";

$primary: #22A7F0;
$family-primary: "IBM Plex Sans", sans-serif;
$input-focus-box-shadow-size: 0;
$tablet: 768px;
$radius-small: 2px;
$radius: $radius-small;
$radius-large: 4px;

html,body {
  height: 100%;
  background: #f9f9f9;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
  //transform: translateY(-1%);
}

.fade-enter-active,
.fade-leave-active {
  transition: all .1s ease
}

@import "~bulma";
